<div class="booqmail-form-wrapper">
  <%= content_for(:title) {"Contact Form"} %>
  <h1>Contact Form</h1>
  <%= form_for @message, :multipart => true do |f| %>
    <%= render 'shared/error_messages', :object => @message %>
    <div class="sender-info content-group">
      <h3>Your Information</h3>
      <div class="form-group">
        <%= f.label :email %></br>
        <%= f.email_field :email %>
      </div>
      <div class="form-group">
        <%= f.label :name %></br>
        <%= f.text_field :name %>
      </div>
      <div class="form-group">
        <%= f.label :subject %></br>
        <%= f.text_field :subject %>
      </div>
    </div>
    <div class="contact-reason">
      <h3>Reason for Contacting</h3>
      <div class="form-group">
        <%= f.label :reason %></br>
        <%= f.select :reason, options_for_select({"help using GIMP" => "gimp help", "help with purchase" => "purchase help", "business inquiry" => "business", "other help/inquiry" => "other"}), {include_blank: "select one" }, { id: 'reason' } %>
      </div>
    </div>
    <div class="system-info content-group">
      <h3>Your System Information (required if asking for GIMP help)</h3>
      <div class="form-group">
        <%= f.label :gimp_version %></br>
        <%= f.select :gimp_version, options_for_select(@gimp_versions.collect { |gimp_version|
        [gimp_version.name, gimp_version.id] }, 0), {include_blank: "select one"}, { id: 'gimp_version_select' } %>
      </div>
      <div class="form-group">
        <%= f.label :operating_system_id %></br>
        <%= f.select :operating_system_id, options_for_select(@os.collect { |os|
        [os.name, os.id] }, 0), {include_blank: "select one" }, { id: 'os_select' } %>
      </div>
      <div class="form-group">
        <%= f.label :os_version_id %></br>
        <%= f.select :os_version_id, options_for_select(@os_versions.collect { |os_version|
        [os_version.name, os_version.id] }, 0), {include_blank: "select one"}, { id: 'version_select' } %>
      </div>
      <div class="contact-alert contact-hide">
        If you know your operating system version but didn't see it in the OS
        Version list, please include it in your message below.
      </div>
    </div>
    <div class="message-content content-group">
      <h3>Your message</h3>
      <div class="form-group">

        <%= f.label :content %></br>
        <%= f.text_area :content %>
        <div class="better-question-prompt contact-hide">
          <span class="pull-right dismiss-button">x</span>
          <h3>Need <span id="better-question-reason"></span>?</h3>
            <p class="better-question-step purchase-help">I want to get you that help as quickly as possible.</p>
              <p>For the fastest help, check out our FAQs - your question might already be answered there.</p>
              <div class="better-question-step purchase-help">
                <p>Otherwise, please send a message with a description of the problem and any
                information you think might be relevant.</p>
                <p>For example, if you're having trouble with a purchase you already made, the email address
                you used to make the purchase is super helpful.</p>
                <p>Or, if you're trying to make a purchase and a buy now button
                isn't working, the web address where that button is would be very helpful.</p>
              </div>
            </p>
          <div class="better-question-step gimp-help">
            <p>Still stumped? Follow these steps to write a great support request:</p>
            <ol>
              <li>Describe the problem - What you're trying to do, what
                went wrong, and <i>how</i> it went wrong.</li>
              <li>Write out the steps to reproduce the problem -
                Start from the very beginning <span class="hidden-sm-down">(ie <i>Start GIMP, then Open a JPG that's 1000px x 2000px</i>)</span> The more detail, the better.</li>
                <li>Make sure you didn't forget anything - try opening GIMP and follow your steps exactly as you've written them.</li>
              <li>If possible, upload a screenshot that helps demonstrate the problem <span class="hidden-sm-down">- these help me catch probles you might not see.</span></li>
            </ol>
          </div>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :image %></br>
        <p>Attach a screenshot or another image that helps demonstrate the problem you're having (optional).</p>
        <%= f.file_field :image %>
      </div>
    </div>
    <div class="send-message content-group">
      <h3>Confirm and Send</h3>
      <div class="actions">
        <%= recaptcha_tags %>
        <%= f.submit 'Send Message' %>
      </div>
    </div>
  <% end %>
</div>
