<%= content_for(:title) {"Contact Form"} %>
<%= form_for @message, :multipart => true do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @message.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      <ul>
    </div>
  <% end %>
  <div class="form-group">
    <p>The email I can reach you at when I send a response (required).</p>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div class="form-group">
    <p>The name you would like me to call you. It's nice to know who I'm talking to (optional).</p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <p>A subject for your email (required).</p>
    <%= f.label :subject %>
    <%= f.text_field :subject %>
  </div>
  <div class="form-group">
    <p>Your operating system (required).</p>
    <%#= f.label :os_version %>
    <%#= f.text_field :os_version %>
    <%= f.select :operating_system_id, options_for_select(@os.collect { |os|
    [os.name.titleize, os.id] }, 1), {}, { id: 'os_select' } %>
    <%= f.select :os_version_id, options_for_select(@os_versions.collect { |os_version|
    [os_version.name.titleize, os_version.id] }, 0), {}, { id: 'version_select' } %>
  </div>
  <div class="form-group">
    <p>Your GIMP version (required).</p>
    <%= f.label :gimp_version %>
    <%= f.text_field :gimp_version %>
  </div>

  <div class="form-group">
    <p>Your message</p>
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div class="form-group">
    <p>Attach a screenshot or another image that helps demonstrate the problem you're having (optional).</p>
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  <div class="actions">
    <%= recaptcha_tags %>
    <%= f.submit 'Send Message' %>
  </div>
<% end %>
