<h3>Sent from your contact form</h3>
<p>Sender email:<%= @message.email %></p>
<p>Sender name: <%= @message.name %>></p>
<hr>
<p>GIMP Version: <%= @message.gimp_version%></p>
<p>OS Version: <%= @message.os_version%></p>
<hr>
<p><%= @message.content %></p>
