<p>Sender email: <%= @message.email %></p>
<p>Sender name: <%= @message.name %></p>
<hr>
</br></br>
<p>GIMP Version: <%= @message.gimp_version %></p>
<p>OS Version: <%= @operating_system.name %> version <%= @os_version.name %> </p>
<hr>
</br></br>
<p><%= @message.content %></p>
